#signin-page__device.signin-page__device
  .account-page__inner
    .account-page__header
      %h2 Create Account
      %h5 新規アカウントの作成
    .user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :name
            %i (20文字以以内)
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .field
          .field-label
            = f.label :password
            %i (英数字6文字以上)
          .field-input
            = f.password_field :password, autocomplete: "off"
        .field
          .field-label
            = f.label :password_confirmation
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          .btn
            = link_to "トップページへ戻る", new_session_path(resource_name),class: "actions__link"      
          = f.submit "新規登録", class: 'btn'
